{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
        {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb", "master"}}
       ]}.

{erl_opts, [{parse_transform, lager_transform}]}.